

# API_KEY = 09fecad8f84f40962eccfe9af41890e7

/* token de acceso de lectura de la API = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwOWZlY2FkOGY4NGY0MDk2MmVjY2ZlOWFmNDE4OTBlNyIsInN1YiI6IjY1YTU2MmY1MGYyYWUxMDEyZDViNTg5ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.dpDhIzipN99R9kDEsZJiAVif3nHhzVu1MFnhFB5DsA8 */´

API_KEY = eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwOWZlY2FkOGY4NGY0MDk2MmVjY2ZlOWFmNDE4OTBlNyIsInN1YiI6IjY1YTU2MmY1MGYyYWUxMDEyZDViNTg5ZCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.dpDhIzipN99R9kDEsZJiAVif3nHhzVu1MFnhFB5DsA8
API_URL = "https://api.themoviedb.org/3/"