/* @import url("https://fonts.googleapis.com/css2?family=Karma:wght@300;400;500;600;700&family=Press+Start+2P&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  /* color: #000; */
  color: black;
}

.dark a {
  color: aliceblue;
}

.all-body-dark {
  background-color: #000;
  color: aliceblue;
}

.all-body-dark input {
  background-color: #000;
  color: aliceblue;
}

.all-body-dark svg {
  color: aliceblue;
}

.all-body-dark fieldset {
  color: aliceblue;
  border: white solid 1px;
}
.all-body-dark a {
  background-color: #000;
  color: aliceblue;
}

.all-body-dark li {
  background-color: #000;
  color: aliceblue;
}
.aa ul {
  background-color: #000;
  color: aliceblue;
}

.all-body-dark div {
  background-color: #000;
  color: aliceblue;
}

.all-body-dark label {
  background-color: #000;
  color: aliceblue;
}

#all-body-dark {
  background-color: #000;
  color: aliceblue;
}

.css-1oj2twp-MuiPagination-root {
  position: fixed;
  bottom: 0;
}

.pagination {
  background-color: white;
  width: auto;
}

.pagination-dark {
  background-color: #000;
  color: aliceblue;
}

.pagination-dark li button {
  background-color: #000;
  color: aliceblue;
}

.pagination-dark li div {
  background-color: #000;
  color: aliceblue;
}

.credits-section {
  padding: 1rem;
}

.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root.Mui-selected {
  background-color: aliceblue;
}

.css-1oj2twp-MuiPagination-root {
  display: flex;
  justify-content: center;
  width: -webkit-fill-available;
  padding: 1px;
}

.pagination-dark
  button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-text.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page.css-yuzg60-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #ffffff61;
}

@media (max-width: 450px) {
  .all-body {
    width: auto;
  }

  .all-body-dark {
    width: auto;
  }
}

.css-1dehfy1 {
  margin: 10px;
}
