.episode-body {
  display: flex;
  height: 120vh;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto";
}

.episode-title {
  margin-top: 4rem;
}

.episode-image {
  width: 90vw;
}
