* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

nav a {
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  /* border-bottom: 1px solid aliceblue; */
  background: transparent;
  color: black;
}

nav a:hover {
  transform: scale(1.2);
}

input {
  font-size: 1rem;
  border-bottom: 1px solid aliceblue;
  outline: none;
  background: transparent;
}

form button:hover {
  transform: scale(1.2);
}

.drawer-cross {
  width: 2.5rem;
  margin: 1rem 0 0 1rem;
}

@media (max-width: 450px) {
  input {
    width: 10rem;
    border-bottom: 1px solid black;
  }

  form {
    display: flex;
    width: 50vw;
  }

  nav {
    padding: 0;
  }

  nav a:hover {
    transform: scale(1);
  }
}
