.movie-details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.movie-details-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-details-credits ul {
  list-style: none;
}

.movie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.movie-details p {
  width: 70vw;
}

/* .movie-details img {
  width: 40vw;
} */

.movie-credits Figure {
  width: 100px;
}

.movie-credits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits-section {
  padding: 1rem;
}

.movie-credits-container {
  width: 90vw;
  overflow-x: scroll;
}

.movie-credits {
  display: flex;

  gap: 1rem;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-container img {
  display: block;
  /* width: 100%; */
  height: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Ajusta este valor para controlar la altura del gradiente */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); /* Ajusta los colores y opacidades según necesites */
}

.image-containerdark {
  position: relative;
  display: inline-block;
}

.image-containerdark img {
  display: block;
  /* width: 100%; */
  height: auto;
}

.image-containerdark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Ajusta este valor para controlar la altura del gradiente */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Ajusta los colores y opacidades según necesites */
}

.movie-logo {
  position: absolute;
  top: 85px;
  left: 10px;
  width: 30%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.movie-backdrop {
  width: 100%;
}

.movie-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-providers {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.dark {
  background-color: #000;
  color: aliceblue;
}

@media (max-width: 450px) {
  .movie-details-credits {
    width: 90vw;
  }

  .movie-credits-container {
    width: 90vw;
  }

  .credits-section {
    width: 90vw;
  }

  .movie-credits img {
    width: 30vw;
  }

  iframe {
    width: 90vw;
    height: auto;
  }
}
