.person-details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  /* width: 70vw; */
}

.person-name {
  margin-top: 3rem;
}

.person-details-body p {
  width: 70vw;
}

.credits {
  display: flex;
}

.person-photo {
  width: 45vw;
}

.dark {
  background-color: #000;
  color: aliceblue;
}
