.person-details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto";
  /* width: 70vw; */
}

.person-name {
  margin-top: 3rem;
}

.person-details-body p {
  width: 70vw;
}

.credits {
  /* width: 90vw; */
  display: flex;
  gap: 5px;
}

.credits div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  width: 40vw;
}

.credits img {
  width: 200px;
}

.person-photo {
  width: 45vw;
  border-radius: 10px;
}

.person-movies ul {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  justify-items: center;
  list-style: none;
  width: 90vw;
}

.dark {
  background-color: #000;
  color: aliceblue;
}

@media (max-width: 450px) {
  .credits img {
    max-width: 40vw;
  }

  .person-movies ul img {
    width: 43vw;
  }
}
