.serie-details-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-family: "Roboto";
}

.serie-details-credits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serie-details-credits ul {
  list-style: none;
}

.serie-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.serie-details p {
  width: 70vw;
}

/* .serie-details img {
  width: 40vw;
} */

.serie-credits Figure {
  width: 100px;
}

.serie-credits-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.credits-section {
  padding: 1rem;
  /* overflow-x: auto; */
}

.serie-credits-container {
  width: 90vw;
  overflow-x: scroll;
}

.serie-credits {
  list-style: none;
  display: flex;
  gap: 1rem;
  padding: 10px;
  /* justify-content: center; */
  /* width: fit-content; */
}

.movie-credits-li {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.movie-credits-lidark {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
}

.movie-credits-li img {
  border-radius: 10px;
  max-width: 200px;
  max-height: 300px;
}

.movie-credits-lidark img {
  max-width: 200px;
  max-height: 300px;
}

.image-container {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
}

.image-containerdark {
  position: relative;
  display: inline-block;
  margin-top: 3rem;
}

.image-container img {
  display: block;
  /* width: 100%; */
  height: auto;
}

.image-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Ajusta este valor para controlar la altura del gradiente */
  background: linear-gradient(
    to top,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  ); /* Ajusta los colores y opacidades según necesites */
}

.image-containerdark {
  position: relative;
  display: inline-block;
}

.image-containerdark img {
  display: block;
  /* width: 100%; */
  height: auto;
}

.image-containerdark::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%; /* Ajusta este valor para controlar la altura del gradiente */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 1),
    rgba(0, 0, 0, 0)
  ); /* Ajusta los colores y opacidades según necesites */
}

.serie-logo {
  position: absolute;
  top: 85px;
  left: 10px;
  width: 30%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.8));
}

.serie-backdrop {
  width: 100%;
}

.serie-trailer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.serie-providers {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.serie-providers-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.dark {
  background-color: #000;
  color: aliceblue;
}

@media (max-width: 450px) {
  /* .serie-details {
    margin-top: 3rem;
  } */

  .serie-details-credits {
    width: 90vw;
  }

  .movie-credits-container {
    width: 82vw;
  }

  .credits-section {
    width: 90vw;
  }

  .serie-credits img {
    width: 30vw;
  }

  .movie-logo {
    top: 0;
    left: 0;
  }

  .serie-details p {
    width: 90vw;
  }

  /* .details-text {
    width: 40vw;
  } */

  iframe {
    width: 90vw;
    height: auto;
  }
}
